.name{
  margin-left:80px;
  
}
.button{
  margin-left:380px;
}
.img{
  margin-left:130px;
}
.id{
  margin-left:200px;
}
.dp{
  
  width:200px;
  margin-left:168px;
}
.head{
  margin-left:165px;
  
}
.collage{
  margin-left:85px;
  width:400px;
}
.logo{
  margin-left:150px;
  width:200px;
}
.link{
  margin-left:172px;
}
