.name{
  margin: 0 auto;
    display: block;
  text-align:center;
  
}
.button{
  margin: 0 auto;
    display: block;
}
.img{
  margin: 0 auto;
    display: block;
}
.id{
  margin: 0 auto;
  display: block;
  text-align:center;
  font-style:Bold;
}
.dp{
  
  width:200px;
  margin: 0 auto;
   display: block;
}
.head{
  margin: 0 auto;
    display: block;
  text-align:center;
  color:#660000;
  font-weight:800;
  font-family: Arial, Helvetica, sans-serif;
  
}
.collage{
  margin: 0 auto;
    display: block;
 text-align:center;
}
.logo{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: block;
}
.link{
  text-align:center;
  margin: 0 auto;
   display: block;
}
#prince{
  margin-left:36%;
  
}
h2{
  font-size:20px;
}
